<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户管理系统</title>
</head>
<body>
    <h3>欢迎来到我的用户管理系统</h3>
    <form action="/login" method="GET">
        <input type="submit" value="登录">
    </form>
    <form action="/register" method="GET">
        <input type="submit" value="注册">
    </form>
    </form>
        <h4>秘密通道</h4>
    <form action="/mimi" method="GET">
        <input type="submit" value="秘密通道">
    </form>
</body>
</html>
