<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册成功</title>
</head>
<body>
    <h3>恭喜你，注册成功！</h3>
    <h3>现在可以登录了</h3>
    <form action="/login" method="GET">
        <fieldset>
            <input type="submit" value="登录">
        </fieldset>
    </form>
    </form>
        <h4>秘密通道</h4>
        <form action="/mimi" method="GET">
        <input type="submit" value="秘密通道">
    </form>
</body>
</html>
